
#titletext{
    text-align: center;
    width: auto;
    font-family: Times New Roman;
}

.calculator {
    text-align: center;
    background-color: #fffaf1;
    height: 400px;
    width: 1000px;
    margin: auto;
}

.calc-body-left{
    margin-left: 70px;
}

.calc-body-left{
    margin-right: 70px;
}

#calc-button{
    background-color: #66CDAA;
    width: 150px;
    height: 45px;
    color: white;
    margin: center;
}

.input{
    width: 250px;
    height: 50px;
}
